<div class="title">
  <h1 *ngIf="!show">Github list of users</h1>
  <h1 *ngIf="show">GitHub User</h1>
  <hr />
</div>
<ul *ngIf="!show">
  <li *ngFor="let user of users" >
    <div class="user">
      <div class="user-img">
        <img src="{{user.avatar_url}}">
      </div>
      <div>
        <h2 class="user-login">{{user.login}}</h2>
        <button (click)="MoreDetails(user)">more details</button>
        <button><a href="{{user.html_url}}">go to profile</a></button>
      </div>
    </div>
  </li>
</ul>
  <button *ngIf="!show">next</button>

<div *ngIf="show" class="user-info">
  <app-user-info
    [SelectedUser]="SelectedUser"
    [repos]="repos"
    [subs]="subs"
    [followers]="followers"
    [orgs]="orgs"
    [loadingFollowers]="loadingFollowers"
    [numFollowers]= "numFollowers"
    (details)="MoreDetails($event)"
    (goHome)="goHome(e)"></app-user-info>
</div>


